body{
    margin:0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif ;
    transition: 0.3s;
    background-color:  #f4f4f4;
}
header, footer{
    padding: 20px;
    background-color: #333;
    text-align: center;
    color: #fff;
}
h1, p{
    margin: 0;
}
nav{
    display: flex;
    justify-content: end;
    background-color: #333;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #d1d1d1;
    max-width: 1000px;
    margin: 20px auto;
    gap: 20px;
}
article{
    display: inline-block;
    width: 40%;
    padding: 10px;
    margin: 20px;
    background-color: #b0b0b0;
}
nav ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li a{
    text-decoration: none;
}
a{
    color: #fff;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.bloco{
    display: flex;
    margin-left: 10;
}
@media(max-width:768px){
    body{
        transform: translateY(-100px);
    }
    .bloco{
        flex-wrap: nowrap;
        align-items: center;
    }
    article{
        width: 100%;
    }
}
@media(max-width:900px){
    .bloco{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

